#xxx{
    background: green;
    display: block;
  }
  body{
    margin: 0px;
  }
  .actions{
    bottom: 0;
    left: 0;
  }

  
  .actions.x > #brush{
    display: inline-block;
  }
  .actions.x > #eraser{
    display: none
  }